<%= simple_form_for(@channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :provider %>
    <%= f.input :client_id %>
    <%= f.input :client_secret %>
    <%= f.input :last_login_at %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
