<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @channel.provider %>
</p>

<p>
  <strong>Client:</strong>
  <%= @channel.client_id %>
</p>

<p>
  <strong>Client secret:</strong>
  <%= @channel.client_secret %>
</p>

<p>
  <strong>Last login at:</strong>
  <%= @channel.last_login_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @channel.user %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
